<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Weather Extremes{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    <div class="titles">
    <header>
        <h1>METARdata</h1>
        <h3>Tracking the hottest, coldest, and windiest airports in the world</h3>
    </header>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <span>&copy; 2025 Nman</span>
        <span> | </span>
        <span><a href="/updates">Updates</a></span>
    </footer>
</body>
</html>