{% extends "base.html" %}

{% block content %}
<!--To all my friends who pressed inspect element, hello! Here's a cookie.-->
<!--Also get a vomit bag ready this is some ass code-->
<div class="tables">
<a href="/article"><h1>Latest Article</h1></a>
<h2 id="latest_title"></h2><!--- Article Title, linked --->
</div>
<div class="tables">
    <h2>Top 5 Hottest Airports</h2>
<table id="data_table_hot">
 
</table>
</div>
<div class="tables">
    <h2>Top 5 Coldest Airports</h2>
<table id="data_table_cold">

</table>
</div>
<div class="tables">
    <h2>Top 5 Windiest Airports</h2>
<table id="data_table_wind_speeds">

</table>
</div>
<div class="updates">
    <p>Last server update: <b id="last_pull"></b>.</p>
    <p>Last fetch: <b id="last_fetch"></b>.</p>
</div>

<script>
  // Kill me
function get_data() {console.log("Fetching data...");
                fetch('/api/stats')
                  .then(response => response.json())
                  .then(data => {
						console.log(data);
                      let data_table_cold = document.getElementById("data_table_cold");
                      data_table_cold.innerHTML = "<thead><tr><th>Observation Time</th><th>ICAO ID</th><th>Airport Name</th><th>Country</th><th>Temperature (Celsius)</th></tr></thead><tbody>"; // Clear existing rows
                      for (let item of data.top_cold) {
                          data_table_cold.innerHTML += `<tr><td>${item.reportTime}</td><td>${item.icaoId}</td><td>${item.name}</td><td>${item.country}</td><td>${item.temp}</td></tr>`;
                      }
                      data_table_cold.innerHTML += "</tbody>";

                      // Hot Airports
                      let data_table_hot = document.getElementById("data_table_hot");
                      data_table_hot.innerHTML = "<thead><tr><th>Observation Time</th><th>ICAO ID</th><th>Airport Name</th><th>Country</th><th>Temperature (Celsius)</th></tr></thead><tbody>"; // Clear existing rows
                      console.log(data);
                      for (let item of data.top_hot) {
                          data_table_hot.innerHTML += `<tr><td>${item.reportTime}</td><td>${item.icaoId}</td><td>${item.name}</td><td>${item.country}</td><td>${item.temp}</td></tr>`;
                      } 
                      data_table_hot.innerHTML += "</tbody>";
                      
                      // Windiest Airports
                      let data_table_wind_speeds = document.getElementById("data_table_wind_speeds");
                      data_table_wind_speeds.innerHTML = "<thead><tr><th>Observation Time</th><th>ICAO ID</th><th>Airport Name</th><th>Country</th><th>Sustained Winds (knots)</th></tr></thead><tbody>"; // Clear existing rows
                      console.log(data);
                      for (let item of data.top_wind_speeds) {
                          data_table_wind_speeds.innerHTML += `<tr><td>${item.reportTime}</td><td>${item.icaoId}</td><td>${item.name}</td><td>${item.country}</td><td>${item.wspd}</td></tr>`;
                      }
                      data_table_wind_speeds.innerHTML += "</tbody>";
                      // Time Update
                      document.getElementById("last_pull").innerText = data.last_pull;
                      document.getElementById("last_fetch").innerText = new Date().toUTCString();
                  });
                }
    setInterval(function() {
      var minute = new Date().getMinutes();
      if ((minute) % 2 === 0)  {// Check if current minute is a multiple of 15
              get_data();
                }
        }, 1000*60); // Refresh data every 60 seconds
      document.addEventListener('DOMContentLoaded', function() {
    // Your code here, or call your function
    get_data();
});
</script>
{% endblock %}