body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color:white;
}

img {
  width:100%;
  height:auto;
}

footer {
    padding: 10px;
    text-align: center;
    background: darkblue;
    color: white;
    width: 100vw;
}


header {
    padding: 10px;
    text-align: center;
    background: blue;
    color: white;
    width: 100vw;
}

.titles {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFFFFF;
}

.tables {
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    text-align: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse; 
}

th, td {
    padding: 10px;
    text-align: center;    
}

.textboxes {
  padding-left: 10%;
  padding-right:10%;
}

.updates {
    width: 90%;
    padding-left: 15px;
}